/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(24, 165, 207);
    color: #fff;
  }

  .Title-Subtitle {
      font-size: 10px;
      color: rgb(67, 76, 78);
  }